.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 20px;
    z-index: 1;
    transition: all 0.2s ease-in;
}
.nav__black{
    background-color: #111;       
}
.nav__logo{
    position: absolute;
    left: 20px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
}
.search{
    position: absolute;
    right: 120px;
    cursor: pointer;
}
.nav__avatar{
    position: absolute;
    right: 60px;
    top:16px;
    width: 30px;
    object-fit: contain;
}
.nav__avatar:hover{
    cursor: pointer;
}
.dropdown-content{
    display: none;
    position: absolute;
    right: 60px;
    top: 45px;
    background-color: #42454D;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover{
      background-color: #D6D6D6;
      color: #000;
  }
  .drop{
      display: block;
  }