.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 20px;
    z-index: 1;
    transition: all 0.2s ease-in;
}
.nav__black{
    background-color: #111;       
}
.nav__logo{
    position: absolute;
    left: 20px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
}
.search{
    position: absolute;
    right: 100px;
}
.nav__avatar{
    position: absolute;
    right: 60px;
    top:16px;
    width: 30px;
    object-fit: contain;
}